@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Portfolio.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

</head>

<body>
    <header>
        <div class="above">
            <div class="language-container above-items">
                <i class="fas fa-language language"></i>
                <p>Language</p>
            </div>
            <div class="light-container above-items">
                <i class="fa-solid fa-circle-half-stroke dark-light"></i>
                <p>Color mode</p>
            </div>
            <div class="login-container above-items">
                <i class="fa-regular fa-user login"></i>
                <li class="login">
                    <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            </div>
        </div>
        <div class="under">
            <h1 class="logo"><a asp-controller="Home" asp-action="Index">Portfo<span class="logo lio">lio</a></span>
            </h1>
            <div class="menu-icon">
                <i class="fa-solid fa-bars open-icon"></i>
            </div>
            <div class="menu-close-icon">
                <i class="fa-solid fa-xmark close-icon"></i>
            </div>

            <ul class="menu">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Index">About</a></li>
                <li><a asp-controller="Home" asp-action="Index">Skills</a></li>
                <li><a asp-controller="Home" asp-action="Index">Projects</a></li>
                <li><a asp-controller="Home" asp-action="Index">Contact</a></li>
            </ul>

        </div>
    </header>



    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy;Andreas Nygård</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
