@{
    ViewData["Title"] = "Home Page";
}
<section class="upper-section">
    <div class="intro">
        <h1 class="first">Hi,</h1>
        <p class="second">My Name Is</p>
        <p class="third">Andreas Nygård</p>
        <br>
        <h2 class="fourth">Web Developer</h2>
        <br>
        <button class="contact">Contact</button>
    </div>
    <div>
        <img src="images/laptop.jpg" alt="Laptop" class="laptop">
    </div>
</section>

<section class="about-section">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nobis officia iusto veniam incidunt nemo
        dignissimos, nulla ipsa impedit dolorem distinctio ab laboriosam vel ex amet suscipit odio non asperiores,
        ratione sit tenetur ducimus. Neque, amet. Neque dignissimos dolore voluptatibus velit exercitationem provident
        optio. Delectus at nostrum natus itaque voluptatibus enim accusamus excepturi perferendis commodi dolor quod
        repudiandae saepe facere aliquam cum dicta totam, quidem provident deserunt? Voluptatibus maiores animi
        voluptatum architecto ab commodi, officia aspernatur dolore nobis unde? Rem corrupti facere neque porro
        explicabo nam quasi quae architecto sit eaque amet tempore laudantium quo consequuntur minima, expedita ullam.
        Molestiae!</p>
    <a href="files/CV.pdf" download="Andreas_Nygard_CV.pdf" class="download-btn">
        Download my resume
        <i class="fa-solid fa-download"></i>
    </a>
</section>
<section class=""></section>
